nav {
	background-color: thistle !important;
	/* Colore di sfondo della barra di navigazione */
}

body {
	height: 80%;
	background-image: url('../images/wallpaper.jpg');
	/* Sostituisci con il percorso dell'immagine */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Aggiungi questa linea */
}

.nav-item {
	margin-left: -0px;
	font-size: 30px !important;
	font-family: 'Zeyada', cursive;
	margin-bottom: -12px;
}

.navbar {
	max-height: 150px;
}

.navbar-nav {
	padding-top: 5% !important;
}

.navbar-brand {
	margin-left: -68px;
	font-size: 30px !important;
	font-family: 'Zeyada', cursive;
	margin-bottom: -12px;
}

.d-inline-block {
	/*margin-left: -58px;*/
	margin-bottom: -16px;
	margin-top: -48px;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 20%;
	font-family: 'Zeyada', cursive;
	background-color: thistle !important;
}

.navbar-expand-lg {
	box-shadow: 0 4px 8px rgba(106, 90, 126, 1.1);
}

ul {
	display: flex;
	flex-direction: row;
	margin-top: 3% !important;
	margin-bottom: 8% !important;
	justify-content: space-between;
}

li {
	list-style: none;
}

.artist-list {
    list-style: none;
    padding: 0;
    margin-top: 3%;
    margin-bottom: 8%;
}

.artist-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.artist-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3%;
    margin-bottom: 8%;
}

.artist-table th, .artist-table td {
    font-family: 'PT Sans Narrow';
    border: 1px solid darkmagenta;
    box-shadow: 0px 4px 8px rgba(106, 90, 126, 1.1);
    padding: 8px;
    text-align: left;
}

.card-button a {
    text-decoration: none;
    color: white;
    background-color: darkmagenta !important;
    box-shadow: 0px 4px 8px rgba(106, 90, 126, 1.1);
    border-radius: 15px 15px 0;
    margin-left: 5%;
    padding: 8px;
}

.btn {
	background-color: darkmagenta !important;
	box-shadow: 0px 4px 8px rgba(106, 90, 126, 1.1);
	border-radius: 15px 15px 0;
	color: white !important;
	margin-left: 5%;
}

.navbar-collapse {
	display: flex;
	justify-content: flex-end;
	padding-right: 2%;
}

.main-container {
	margin-top: 10%;
	margin-bottom: 10%;
}

.h6{
	text-align: left;
	font-weight: bold;
	font-family: 'PT Sans Narrow';
}
.card-text{
	font-family: 'PT Sans Narrow';
}

/*.navbar-brand{
	margin-right:804px;
}*/

.move-left{
	margin-left: -262px;
	margin-top:20px;
}

a {
    color: darkmagenta;
    text-decoration: none;
}

.d-inline-block {
    /*display: inline-block!important;*/
    margin-left: -43px;
}
