

body {
	height: 80%;
	background-image: url('../images/wallpaper.jpg');
	/* Sostituisci con il percorso dell'immagine */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Aggiungi questa linea */
}


/*.d-inline-block{
	margin-left: -43px;
	margin-bottom: -16px;
	margin-top: -48px;
}*/




ol {
	display: flex;
	flex-direction: column;
	margin-top: 3% !important;
	margin-bottom: 8% !important;
}

ul {
	display: flex;
	flex-direction: row;
	margin-top: 3% !important;
	margin-bottom: 8% !important;
}

h2 {
    text-align: center;
    font-family: 'Zeyada', cursive;
    color: darkmagenta;
    margin-bottom: 20px;
}

li {
    margin-bottom: 20px;
}

.drawing_features{
    font-family: 'PT Sans Narrow';
    text-align: left;
    color: darkmagenta;
    margin-top:13px;
    font-size: 20px;
}

a {
    color: darkmagenta;
    text-decoration: none;
}

/*a:hover {
    text-decoration: underline; 
}*/

.drawing-container{
	display:block;
}

.navbar-collapse{
	display:flex;
	justify-content: flex-end;
	padding-right: 2%;
}

.drawing-show{
	max-width: 30%;
	max-height: 30%;
}
	
.d-inline-block {
	/*margin-left: -58px;*/
	margin-bottom: -16px;
	margin-top: -48px;
}
