nav {
    background-color:thistle!important; /* Colore di sfondo della barra di navigazione */
}

.nav-item{
	margin-left: -0px;
	font-size: 30px!important;
	font-family: 'Zeyada', cursive;
	margin-bottom: -12px;
}


.navbar-brand{
	margin-left: -85px;
	font-size: 30px!important;
	font-family: 'Zeyada', cursive;
	margin-bottom: -12px;
}

.d-inline-block{
	/*margin-left: -58px;*/
	margin-bottom: -16px;
	margin-top: -48px;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 20%;
	font-family: 'Zeyada', cursive;
	background-color: thistle!important;
}

.navbar {
	max-height: 150px;
}

.navbar-nav{
padding-top: 5%!important;
}


.navbar-expand-lg {
	box-shadow: 0 4px 8px rgba(106, 90, 126, 1.1);
}

.navbar-collapse{
	display:flex;
	justify-content: flex-end;
	padding-right: 2%;
}

ul {
	display: flex;
	flex-direction: row;
	margin-top: 3% !important;
	margin-bottom: 8% !important;
	justify-content: space-between;
}

li {
	list-style: none;
}


