<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formNewArtist.css">
    <title>ArteCondivisa</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.19.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Leckerli+One&family=PT+Sans+Narrow:wght@400;700&family=Zeyada&display=swap" rel="stylesheet">

</head>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
   <img src="images/logo.png" alt="" width="300" height="200" class="d-inline-block align-text-top">
    <a class="navbar-brand" href="#"> Arte Condivisa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body>
	<div class="main-container">
		<div class="form-container">
			<form th:action="@{/newArtist}" method="POST">
				<h1>Inserisci un nuovo artista</h1>
	
				<label style="font-weight: bolder;">Nome:</label>
				<input type="text" th:field="${artist.name}" class="input-text form-control">
				<label style="font-weight: bolder;">Cognome:</label>
				<input required type="text" th:field="${artist.surname}" class="input-text form-control">
				<label style="font-weight: bolder;">Nazionalità:</label>
				<input type="text" th:field="${artist.nationality}" class="input-text form-control">
				<div class="btn-container">
					<button type="submit" class="btn btn-submit">Aggiungi</button>
				</div>
			</form>
		</div>
</body>
<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    <section>
      <!-- Instagram -->
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"+
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <p class="text-body" >© 2023 Copyright: ArteCondivisa.com</p>
  </div>
  <!-- Copyright -->
</footer>
</html>